<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyWeather</title>

    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="card">
    <div class="search">
        <form class="search" th:action="@{/weather}" method="get">
            <input type="text" placeholder="Enter city name..." spellcheck="false" name="city">
            <button type="submit"><img src="images/search.png"></button>
    </div>
    <br><br>
    <div class="bar error">
        <p th:text="'Invalid input - please try again'"></p>
    </div>
</div>
</form>
</div>


</body>
</html>
